.shopping-list {
  display: flex;
  justify-content: center;
  margin-top: 9rem;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 80%;
}

th,
td {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: center;
}

th {
  background-color: #ddd;
}
